---
---

/* Your custom CSS below */
.author__avatar {
  img {
    width: 400px !important;
    height: 400px !important;
    border-radius: 50% !important;
    border: 5px solid #f2f3f3 !important;
  }
}
